
page{
	background-color: rgb(245,245,245);
}

.blockItem{
	/* height: 140vw; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	.head, .body, .foot {
		margin-bottom: 3vw;
	}
}


.head{
	height: 34vw;
	padding: 5vw;
	background-color: white;
	&.ticketHead {
		height: 24vw;
	}
	.container{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
		height: 30vw;
		.goodImg{
			height: 20vw;
			width: 20vw;
			display: inline;
			border-radius: 5%;
		}

		.goodText{
			width: 60vw;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			.goodDetail{
				width: 60vw;
				height: 13vw;
				overflow: hidden;
				font-weight: bold;
				font-size: 16px;
			}

			.goodPrice{
				width: 60vw;
				height: 12vw;
				font-size: 15px;
			}
		}
	}

	.deliveryWay{
		font-size: 15px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}

.body{
	font-size: 15px;
	padding: 5vw;
	background-color: white;
}

.foot{
	font-size: 15px;
	padding: 5vw;
	background-color: white;
	.uni-list {
		.uni-list-cell-db {
			// 团支部分区picker
			flex-grow: 1;
		}
	}
}

.blockItem {
	.option{
		margin-bottom: 2vw;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		.optionPlaceholder {
			color: #999999;
		}
	}

	.option--rightAligned{
		justify-content: initial;
		flex-direction: row-reverse;
	}
}

.pay{
	width: 100vw;
	height: 8vw;
	padding: 5vw;
	position: fixed;
	bottom: 0;
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	.btn, .btn--disabled{
		// width: 28vw;
		/* height: 6vw; */
		padding: 8px 14px;
		margin-right: 10vw;
		color: #FFFFFF;
		line-height: 6vw;
		text-align: center;
		border-radius: 100px;
	}
	.btn{
		background-color: red;
		&:active{
			background-color: #d00000;
		}
	}
	.btn--disabled{
		background-color: #ffacac;
	}
}

// 弹窗背景
.modalWrapper {
	position: fixed;
	z-index: 999; // .uni-page-head是998
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000000AA;
}
/* 弹窗 */
.modal{
	position: absolute;
	top: 40%; // 使弹窗上移一些
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: white;
	width: 70vw;
	border: 1px #C3C3C3 solid;
	padding: 6vw 8vw;
	font-size: 15px;
	border-radius: 3vw;
	.inputItem{
		display: flex;
		flex-direction: row;
		margin: 4vw 0;
		vertical-align: sub;
		.inputLabel {
			min-width: 4em;
		}
		.input{
			flex-grow: 1;
			margin-left: 3vw;
			border-bottom: 1px #C3C3C3 solid;
		}
		.inputPlaceholder {
			// font-size: 26rpx;
			color: #999999;
		}
	}
	.login {
		margin-top: 8vw;
		border: 1px #C3C3C3 solid;
		border-radius: 200px;
		font-size: inherit;
		&::after {
			display: none;
		}
	}
}
